* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 3%;
}
textarea {
    width: 80%;
    margin-left: 10%;
    padding: 10px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.row {
    background-color: gray;
    width: 80%;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
}
