* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 4em;
    color: #a9a9a9;
    border-bottom: 4px solid #caebf2;
}
h2 {
    font-weight: 500;
    color: #000;
    background-color: #caebf2;
    padding: 5px;
}
span {
    font-weight: 600;
    color: #a9a9a9;
}
textarea {
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    padding: 10px;
    line-height: 1.2;
    font-size: 1.0em;
    font-family: "Noto Sans HK", sans-serif;
    background-color: rgba(169, 169, 169, 0.4);
}
textarea:focus {
    border: 2px solid #caebf2 !important;
    box-shadow: 0 0 3px #caebf2 !important;
    outline-offset: 0px;
    outline: none;
    background-color: #fff;
}
.results {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 5px auto;
}
.col {
    width: 40%;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
.row {
    width: 81%;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
